@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(20,20,20);
    overflow-x: hidden;
}
.banner {
    width: 100%;
}
.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
video {  
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    filter: grayscale(60%);
}
nav {
    width: 100%;
    padding: 5vh;
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 2;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 30px;
    transition: 0.3s;
}
li a:hover {
    color: red;
}
button {
    background-color: #f4511e;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 23px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
button:hover {
    opacity: 1;
}
.logo {
    cursor: pointer;
    filter: brightness(80%);
    transition: 0.3s;
}
.logo:hover {
    filter: brightness(100%);
}
.logo1 {
    transform: translateY(30vh);
    scale: 130%;
}
.content {
    margin: auto;
}
.contentbox {
    margin-top: 0;
}
.gradient {
    background-image: linear-gradient(transparent, rgba(20, 20, 20, 1));
    height: 75vh;
    z-index: 2;
    margin-top: -24vh;
}
.textbox {
    margin-top: 10vh;
    padding-bottom: 10vh;
    width: 75%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    color: white;
    background-color: rgb(20,20,20);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table, tr, th {
    border-collapse: collapse;
    padding: 10px;
    max-height: 40vh;
    max-width: 20vh;
    transition: 0.3s;
}
table tr th img {
    width: 30vh;
    filter: brightness(70%);
    transition: 0.3s;
}
table tr th img:hover {
    filter: brightness(100%);
    transform: scale(110%);
}
.table2 table tr th {
    border: 3px gray solid;
    text-align: left;
    padding: 10px;
}
.timeline {
    margin: 5em auto;
    max-width: 34.15em;
}
.timeline h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
    color: white;
}
.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}
.checkpoint div {
    padding: 1.5em;
}
.checkpoint p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    color: white;
}
.checkpoint h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: white;
}
.checkpoint:nth-child(odd) {
    border-left: 3px solid white;
    padding-left: 3em;
    transform: translate(17em);
}
.checkpoint:nth-child(even) {
    border-right: 3px solid white;
    padding-right: 3em;
    transform: translate(-16.81em);
    text-align: right;
}
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: white;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before {
    left: 0;
}
.checkpoint:nth-child(even)::before {
    right:0;
}